* {
  box-sizing: border-box;
}

body {
  background-color: #f7fafc;
}

.App {
  padding: 0.3px;
}

.Novo-Comentario {
  background-color: #ffffff;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #555;
  padding: 1rem;
}

.Novo-Comentario input {
  width: 100%;
}

.Novo-Comentario textarea {
  width: 100%;
}

.Novo-Comentario button {
  background-color: #4299e1;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.Novo-Comentario button:hover {
  background-color: #2b6cb0;
}

.Novo-Comentario input,
.Novo-Comentario textarea {
  color: #4a5568;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: block;
  border-radius: 0.5rem;
}
